MONGODB_URI=mongodb+srv://wilsonuchenna08_db_user:rILArBplRTMHS9au@uncle-joe-certification.nzorbis.mongodb.net/uncle-joe-certification?retryWrites=true&w=majority&appName=uncle-joe-certification

BETTER_AUTH_SECRET=fEhrw04pwfCOXfp8leS092FvKgT9FV6V

BETTER_AUTH_URL=http://localhost:3000

RESULTS_EMBARGO_HOURS=5


# Resend
RESEND_API_KEY=re_ZhM5Pgqk_LynmPEvkadHSuTBeHskain8H
EMAIL_FROM=onboarding@resend.dev

NEXT_PUBLIC_PAYSTACK_SECRET_KEY=sk_test_2c75b0cbb6da836f02d1155f59f8b2d2187d4f03
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_b8464bbbd6f541ec1dd6b52b75945b4f717f0abf